body{
    background-image: url("/sharedpictures/backgroundimg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fontStyle{
    font-family: "Barlow", sans-serif;
}
.innerContainer{
    margin-top: 25px;
    border-radius: 10px;
    height:auto;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 5px 10px;
}
#coverimage{
    height: 400px;
    width: 900px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: rgba(0.30, 0, 0.2, 0.34) 0px 8px 20px;
}