.table-responsive {
    max-height:430px;
}
.card{
    width: 18rem;
    height: auto;
  .deleteButton{
    visibility: hidden;
    transition-delay: 200ms;
  }  
}
.card:hover{
    .deleteButton{
        transition-delay:200ms;
        visibility:inherit;
    }
}